<div class="container">
  <h2> User Details</h2>
  <button  class="goback" (click)="goBack()">go back</button>
  <br>
  <br>
  <div *ngIf="userDetails" class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Id : </label>
        <p> {{ userDetails.id }}</p>
      </div>

      <div class="form-group">
        <label>Name : </label>
        <p>{{ userDetails.first_name + ' '+ userDetails.last_name  }} </p>
      </div>

      <div class="form-group">

        <label>Email : </label>
        <p> {{ userDetails.email }}</p>
      </div>
    </div>
    <div class="col-md-4">
     

      <img class="img" src="{{ userDetails.avatar }}" alt="user" >
    </div>

  </div>


  <div *ngIf="userDetails" class="">

  </div>

</div>